.appointment-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../assets/smallBackground.png);
    background-size: cover;
    color: #434343;
}

.main-section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}

.main-section-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
    align-self: center;
    margin-right: 15px;
    margin-left: 15px;
}

.main-section-calendar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 15px;
}

.main-section-appointment {
    margin-left: auto;
    margin-right: 15px;
}

.home-button {
    position: absolute;
    top: 20px;
    left: 20px;
}
