.home-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #BEB6D5;
  display: flex;
  flex-direction: row;
}

.logo {
  max-height: 225px;
  margin-left: 50px;
}

.contactInfo {
  margin-top: 15px;
  max-height: 200px;
  margin-left: 800px;
}

.main-section-home{
  flex: 1;
  display: flex;
  align-items: center;
  max-height: calc(90vh - 200px);
  background-image: url("../assets/bigBackground.png"); 
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-section-img img {
  max-width: 100%;
  max-height: calc(90vh - 200px);
}

.main-section-right {
  flex: 1;
  padding: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 23px;
  color: #434343;
}

.footer-container {
  background-color: #AFDADA;
  padding: 10px;
  text-align: center;
}
