.home-container-pat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .main-section-pat {
    width: 100%;
    max-width: 800px; /* Limita el ancho máximo del formulario */
    padding: 20px;
    box-sizing: border-box;
  }
  
  .main-section-left-pat {
    display: grid; /* Utiliza un layout en cuadrícula para organizar los elementos */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Distribuye las columnas automáticamente */
    gap: 20px; /* Espacio entre las columnas */
  }
  
  /* Ajusta el ancho de los campos de texto */
  .TextField {
    width: 100%;
  }
  
  /* Estilos adicionales para los elementos según sea necesario */
  