
.table-container {
    margin-top: 20px;
  }
  
  .table-cell-header {
    font-weight: bold;
  }

  .table-cell-header-last{
    font-weight: bold;
    width: min-content;
   
  }
  
  .table-cell {
    white-space: nowrap; 
  }

  .table-cell-last {
    white-space: wrap; 
  }

  .icon-button {
    padding: 8px;
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
  }
  

  