.box {
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    background-color: rgba(255, 255, 255);
    border: 5px solid #AFDADA;
    box-shadow: 24;
    padding: 4;
}

.title-modal {
    text-align: left;
    font-size: 15px;
    color: #434343;
    margin-bottom: 30px;
}

.input-date {
    margin-right: 15px;
}

b{
    color: #434343;
}

.delete-button{
    margin-left: 50px;
}